# --------------------------------
# Server
# --------------------------------
PORT=4001

# --------------------------------
# RabbitMQ config
# --------------------------------
RABBIT_PROTOCOL=amqp
RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USERNAME=
RABBIT_PASSWORD=
# Name of the queue for the messages addressed to the workers
RABBIT_REQUEST_QUEUE=messages-to-process
# Name of the queue for the messages addressed to the main server
RABBIT_RESPONSE_QUEUE=processed-messages

# --------------------------------
# Warehouse Server config
# --------------------------------
WAREHOUSE_HOST=http://127.0.0.1
WAREHOUSE_PORT=5001